@import "tailwindcss";

body {
  background-color: #fff;
}

.header {
  position: relative;
  width: 100%;
  padding: 0;
}

.search-bg {
  background-color: #b3deff;
  border-radius: 50%;
  height: 2.7rem;
  width: 3rem;
}

.search-bar {
  bottom: -8%;
}

.essential-svg {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  cursor: pointer;
}

.essential-svg:hover {
  transform: translateY(-5px);
}

/* Add this CSS to your global stylesheet or inside a <style> tag in your Essentials.jsx file */

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* For Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0.08) transparent;
}

/* Responsive Adjustments */
@media (max-width: 640px) {
  .header h1 {
    font-size: 2rem;
    bottom: 25%; /* Adjust position for smaller screens */
  }

  .search-bar {
    width: 90%; /* Wider search bar for mobile */
    bottom: -8%; /* Adjust position for smaller screens */
  }
}